.everyEvent{
	display: inline-block;
	padding: 10px;
}
#mainContent{
	padding-top: 80px;
}
.links{
 position:relative;
}

.links_responsive{
  visibility: hidden;
  display: none;
}

.links .nafn{
  	position:absolute;
  	padding-top: 10px;
  	padding-left: 10px; 
  	bottom:0px;
  	top: 0px;
  	left:0px;
    width:150px;
    display:none;
    width: 285px;
    height: 190px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}
.links .timi{
  position:absolute;
  padding-top: 10px;
  padding-left: 10px; 
  bottom:0px;
  top: 30px;
  left:0px;
  display:none;
  color: white;
}
.links .dagsetning{
  position:absolute;
  padding-top: 10px;
  padding-left: 10px; 
  bottom:0px;
  top: 50px;
  left:0px;
  display:none;
  color: white;
}
.links .stadur{
  position:absolute;
  padding-top: 10px;
  padding-left: 10px; 
  bottom:0px;
  top: 70px;
  left:0px;
  display:none;
  color: white;
}

.links a{
  	position:absolute; 
  	bottom:0px;
  	top: 75px;
  	bottom: 80px;
  	left:95px;
  	right: 95px;
    display:none;
}
.links:hover p{
 	display:block;
}
.links:hover a{
	display: block;
}

@media only screen and (max-width: 400px){
  .links p{
    visibility: hidden;
    display: none;
  }
  .links a{
    visibility: hidden;
    display: none;
  }
  .links_responsive{
    visibility: visible;
    display: inline;
  }
}
